# Cambia este valor si tu Steam Library está en otra unidad
WALLPAPER_ROOT=C:\\Program Files (x86)\\Steam\\steamapps\\workshop\\content\\431960

HOST=0.0.0.0
PORT=3000
SCAN_INTERVAL_SECONDS=180
ENABLE_DURATION_PROBE=true
